:root {
    --black: #010B13;
    --white: #F5F5F5;
    --red: #E83030;
}

* {
    ::-webkit-scrollbar {
        display: none;
    }
}


body {
    border: 0;
    margin: 0;
    padding: 10px;
    background-color: var(white);
    color: var(--black);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    padding-top: 1vh;
    font-size: 20px;
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(14, minmax(0, 1fr)); */
    height: 5vh;
    /* cursor: pointer; */
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar>div {
    /* border: 1px solid red; */
}


.navbar>#nav0 {
    /* grid-column: 1; */
    left: 1px;
    position: absolute;
}

.navbar>#nav1 {
    grid-column: 11;
}

.navbar>div:not(#nav0) {
    /* text-align: center; */
    /* padding: 10px; */
    padding-left: 30px;
}

.navbar>div>xy1 {
    opacity: 50%;
    text-decoration: none;
    color: var(--black);
    border-bottom: solid 1px transparent;
    transition: opacity .2s ease-out, border-bottom-color .2s ease-out;

    &:hover {
        /* border-bottom: solid 1.5px var(--black); */
        opacity: 100%;
    }
}

#booknow {
    opacity: 100%;
    text-decoration: none;
    color: var(--red);
    border-bottom: solid 1px transparent;
    transition: color .2s ease-out, border-bottom-color .2s ease-out;

    &:hover {
        border-bottom: solid 1.5px var(--red);
    }
}

main {
    width: 100%;
    height: auto;
}

.titlepage {
    width: 100%;
    font-size: 200px;
    font-weight: 550;
}

/* faq page */

#faq {
    scroll-snap-type: y mandatory;
    height: 90vh;
    overflow-y: scroll;
}

#faq>main {
    scroll-snap-align: start;
    height: 150vh;
}

.faqlist {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.faqlist>div {
    border-top: 1px solid grey;
    width: 100%;
    height: 18vh;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    color: var(--black);
    padding: 1vh;
}

.faqlist>div>#faqquestion {
    font-size: 40px;
    text-transform: uppercase;
}

.faqlist>div>#faqanswer {
    grid-column: 2;
}



/* work section */

#work {
    scroll-snap-type: y mandatory;
    height: 90vh;
    overflow-y: scroll;
}

.workpagemain {
    scroll-snap-align: start;
}

#worklist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    height: 68vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#worklist>div {
    width: 100%;
    height: 70vh;
    scroll-snap-align: start;
}

.workimgdiv {
    background-color: grey;
    width: 100%;
    height: 75%;
    border-radius: 10px;
    margin-bottom: 1.2vh;
}

.workdetails {
    font-size: 20px;
}


/* about us section */


.aboutus {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr;
}

.mainabout {
    scroll-snap-type: y mandatory;
    height: 93vh;
    overflow-y: auto;
}


.section {
    height: 93vh;
    scroll-snap-align: start;
}

#aboutustext {
    grid-column: 2;
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 3vh;
}

/* .perks {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.perks > div {
    border-top: 1px solid grey;
    width: 100%;
    height: 18vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: var(--black);
    padding: 1vh;
} */

.heroes {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#heroestitle>#titlebig {
    font-size: 60px;
}

#heroestitle>#numberheroes {
    font-size: 20px;
}


#heroesdisplay {
    padding-top: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    padding-right: 1vw;
}

#heroesdisplay>div {}

.imgdivheroes {
    margin-top: 1vh;
    background-color: grey;
    border-radius: 15px;
    width: 100%;
    height: 35vh;
}

.herodesc {
    text-transform: uppercase;
}



/*  */
.values {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    height: 99%;
}

#heroestitle>#titlebig {
    font-size: 60px;
}

#heroestitle>#numberheroes {
    font-size: 20px;
}

.valueslist {
    grid-row: 2;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.valueslist > div {
    display: flex;
    flex-direction: row;
    border-top: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 20px;
}

.valueslist > div > div {
}

.valuesname {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: 500;
    width: 20vw;
}

.valuesname > span {
    font-size: 20px;
    font-weight: 400;
}

.valuesdesc {
    text-transform: uppercase;
    font-size: 20px;
    width: 50%;
}

/* footer */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 20vh;
    /* scroll-snap-align: start; */
    align-items: end;
    text-transform: uppercase;
    position: absolute;
    bottom: 15vh;
    width: 100%;
}

.footer>#foot2 {
    grid-column: 4;
    text-align: end;
}

.footer>#foot3 {
    text-align: center;
    /* font-size: 16vw; */
    font-weight: 600;
    width: 100%;
    grid-row: 2;
    grid-column: 1/5;
    padding: 0;
    margin: 0;
}

.footerwrapper {
    scroll-snap-align: start;
    height: 90vh;
    position: relative
}

#foottitle {
    font-size: 15.85vw;
    padding: 0;
    margin: 0;
}

#foot3>img {
    padding-top: 10px;
    width: 100%;
    height: auto;
}



/* test animazione show hide */

.xyzsection {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}




/* work with us section */

/* scroll-snap-align: start; */


#workwithus {
    height: 95vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}



#workwithus > main {
    scroll-snap-align: start;
}

#workwithus > * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.workwithusgrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.workwithusgrid>div>#titlebig {
    font-size: 60px;
}


.workwithuslist {
    width: 98%;
    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
    transition: opacity 0.2s ease-in-out;
}

.workwithuslist:hover {
    opacity: 65%;
}

.workwithuslist>div {
    border-top: 1px solid grey;
    width: 100%;
    min-height: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    color: var(--black);
    padding: 1vh;
}

.workwithusdescr {
    grid-column: 2;
    padding-top: 3vh;
}

.workwithuspos {
    font-size: 40px;
}

.workwithusdescr>span {
    font-size: 20px;
}

.workwithusdescr>.button {
    text-transform: uppercase;
    margin-top: 2vh;
    /* border: 1px solid var(--black); */
    width: 115px;
    height: 28px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red);
    /* cursor: pointer; */
    border-bottom: solid 1px transparent;
    transition: color .2s ease-out, border-bottom-color .2s ease-out;

    &:hover {
        border-bottom: solid 1.5px var(--red);
        color: var(--red);
    }
}

.workwithuspostitle>.workwithuspossub {
    padding-left: 10px;
}




/* servizi */
#service {
    scroll-snap-type: y mandatory;
    height: 92vh;
    overflow-y: scroll;
}

#service > main {

}

#service > #pag1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

#service > #pag1 > xy2 {
    font-size: 200px;
    font-weight: 550;
}

#service > #pag1 > .servicedescription {
    grid-column: 1;
    grid-row: 2;
    font-size: 40px;
    display: flex;
    align-items: end;
    padding-bottom: 8vh;
    padding-left: 1vw;
}

.serviceanchorpoint {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    align-items: start;
    padding-left: 10vw;
    justify-content: end;
    padding-bottom: 8vh;
    font-size: 40px;

}

.serviceanchorpoint > div {
    border-bottom: 1px solid grey;
    width: 100%;
    margin-top: 2vh;
    position: relative;
    /* cursor: pointer; */
}

.serviceanchorpoint > div > img {
    position: absolute;
    right: 1px;
    transform: rotate(45deg);
}

.serviceanchorpoint > div:hover {
    color: var(--red);
    border-bottom: 1px solid var(--red);
}

/* not work */
/* .serviceanchorpoint > div:hover img {
    filter: hue-rotate(0 360);
    color: red;
} */


/* pag6 */
.pag6grid {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 1fr 1fr 1fr;
    height: 97%;
    gap: 1vw;
}

.pag6title > #pag6titlebig {
    font-size: 60px;
}

.pag6title > #pag6titlesmall {
    font-size: 20px
}

.pag6desc {
    font-size: 40px;
}

.pag6bullet {
    display: flex;
    flex-direction: column;
    grid-row: 3;
}

.pag6bullet > div {
    border-top: 1px solid grey;
    font-size: 40px;
    opacity: 60%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.pag6bullet > div:hover {
    color: var(--red);
    /* border-top: 1px solid var(--red); */
    opacity: 100%;
}

.pag6bullet > div > img {
    position: absolute;
    right: 1px;
}

.pag6bullet > div > span {
    font-size: 20px;
    display: none;
    padding-top: 1vh;
}


/* pag2 */
.pag2grid {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 0.3fr 1fr 1fr;
    height: 97%;
    gap: 1vw;
}

.pag2title > #pag2titlebig {
    font-size: 60px;
}

.pag2title > #pag2titlesmall {
    font-size: 20px
}

.pag2desc {
    display: flex;
    justify-items: center;
    align-items: center;
    grid-row: 2;
    grid-column: 1/3;
    font-size: 50px;
    opacity: 80%;
    width: 80%;
}

.pag2percentages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    /* font-size: 150px; */
    font-size: 12vw;
    font-weight: 600;
    grid-column: 1/3;
    align-items: center;
    justify-items: center;
}

.pag2percentages > div {
    display: flex;
    align-items: center;
    justify-items: center;
    color: var(--red);
}


/* techonology page */

.pag3grid {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 0.5fr 1fr;
    height: 97%;
    gap: 1vw;
}

.pag3title > #pag3titlebig {
    font-size: 60px;
}

.pag3title > #pag3titlesmall {
    font-size: 20px
}

.pag3desc {
    display: flex;
    /* justify-items: center;
    align-items: center; */
    grid-column: 2;
    font-size: 30px;
    opacity: 80%;
}

.pag3detailgrid {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 1fr 1fr;
}

.pag3detailgrid > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.pag3cricle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--red);
    margin-bottom: 10px;
}

.pag3detailgridtitle {
    font-size: 40px;
    opacity: 50%;
    margin-bottom: 10px;
}
.pag3detailgriddesc {
    font-size: 20px;
}



/* circuiti */
.pag4grid {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 1fr 1fr;
    height: 97%;
    gap: 1vw;
}

.pag4title > #pag4titlebig {
    font-size: 60px;
}

.pag4title > #pag4titlesmall {
    font-size: 20px
}

.pag4desc {
    display: flex;
    /* justify-items: center; */
    /* align-items: center; */
    grid-column: 2;
    font-size: 30px;
    opacity: 80%;
    flex-direction: column;
}

.pag4desc > span {
    color: var(--red);
    text-decoration: underline;
}


.pag4detailgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/3;
}

.pag4detailgrid > div {
    font-size: 40px;
    border-left: 1px solid grey;
    padding-left: 20px;
    position: relative;
}

.pag4detailgriddesc {
    font-size: 30px;
    opacity: 50%;
    position: absolute;
    bottom: 1px;
}


/* pag5 */
.pag5grid {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 1fr 1fr;
    height: 97%;
    gap: 1vw;
}

.pag5title > #pag5titlebig {
    font-size: 60px;
}

.pag5title > #pag5titlesmall {
    font-size: 20px
}

.pag5desc {
    font-size: 30px;
}

.pag5details {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/3;
}

.pag5details > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
}

.pag5descnumber {
    font-size: 210px;
    font-weight: 600;
}

.pag5descdetail {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 50%;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
}

.pag5descdetail > span {
    font-size: 40px;
    opacity: 50%;
}



/* book now section */

#booknowsection > main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    height: 90%;
}

#booknowsection > main > .titlepage {
    grid-column: 1/3;
}

.booknowsectiondesc {
    font-size: 40px;
    padding-left: 10px;
    padding-right: 100px;
}

/* cancellare in futuro */

.bookform {
    background-color: grey;
    border-radius: 14px;
}



/* homepage */
.homepage {
    display: block;
    height: 92vh;
    opacity: 100%;
}

.homepagecontainer {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

#scritta {
    grid-row: 2;
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
    font-size: 200px;
    font-weight: 600;
}